@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.card {
  background-color: rgba(0, 30, 45, 0.3);

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.carousal::-webkit-scrollbar {
  display: none;
}
.amenity-card {
  border-radius: 130% 100% 40px 40px;
}
h1 {
  font-family: "Oswald", sans-serif;
}

.payment-bg {
  background-color: rgba(87, 144, 190, 0.2);
}

.blue-gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(197, 220, 241, 1));
}
@media only screen and (min-width: 1020px) {
  .middle-div {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.fixed-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
